@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{font-family: 'Noto Sans KR', sans-serif;}
a,p,span{color:#333;}

.bg-light{background-color: rgba(255, 255, 255, 0.8) !important;}

h2{text-align:center;}
h4{font-size:1.2em; text-align:center;}

.btn-primary {
    color: #fff;
    background-color: #2962FF;
    border-color: #2962FF;
}

.form-control{border-radius:20px; margin:1em 0; padding:1.2em }

.mini{ }
.mini img{width:50%;}

input[id="cb1"] + label {
    
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #768FFF;
	cursor: pointer;
}

input[id="cb1"]:checked + label {
    background:url(../images/check-back.png);
    
}
  

input[id="cb1"] {
	display: none;
}


.omb_login{padding:4em 0; border: 1px solid rgb(216, 216, 216)}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}


.mainText h2{font-weight:550; font-size:2.5rem}

.footer{background-color: rgb(51, 51, 51); padding:3em 0;}
.footer span, .footer p{color:#fff;}
.footer span{display:block; margin-bottom:10px;}
.footer img{width:100%;}
.footer .info{padding-left:4em;}